{% extends 'base.html' %}

{% block title %}
    Article #{{ article.id }}: {{ article.title }}
{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div>
        <p>{{ article.body }}</p>
        <div class="text-secondary">Published {{ article.dt_created }}</div>
        <div class="text-secondary">by {{ article.author.user.username }}</div>
    </div>
    {% if article.tags %}
        <div>
            Tags:
            {% for tag in article.tags %}
                <span>
                    <a class="badge bg-info text-dark text-decoration-none"
                       href="{{ url_for('articles_app.list', tag=tag.name) }}">{{ tag.name }}
                    </a>
                </span>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}