{% extends 'base.html' %}

{% block body %}
    <div class="blog-content">
        <h2 class="blog-post-title">{{ article.title }}</h2>
        <div class="blog-post-meta">
            {{ article.created_at.strftime('%B %d, %Y') }} by <a
                href="{{ url_for('articles_app.list', author_id=article.author_id) }}">{{ article.author.user.username }}</a>
        </div>
        <div class="flex">
            <p class="blog-post-body">
                {{ article.body }}
            </p>
        </div>
        {% if article.tags %}
            <div>
                Tags:
                {% for tag in article.tags %}
                    <span>
                    <a class="badge bg-secondary text-dark text-decoration-none"
                       href="{{ url_for('articles_app.list', tag=tag.name) }}">{{ tag.name }}
                    </a>
                </span>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <a href="{{ url_for('articles_app.edit', article_id=article.id) }}">Edit</a>
        </div>
    </div>
{% endblock %}