body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", serif;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px
    }
}

a {
    text-decoration: none;
}

.blog-content {
    padding-top: 1.5rem;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2rem;
    line-height: 1;
}

.blog-post-title {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    margin-bottom: .25rem;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.blog-post-body {
    display: inline-block;
    overflow: hidden;
    /*max-height: 100px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex {
    display: flex;
}

.create-article-button {
    display: inline-block;
    margin: 15px 0;
}

.article-details-link {
    display: inline-block;
    margin-top: 10px;
}

/*.text-truncate {*/
/*   display: inline-block;*/
/*   max-width: 150px;*/
/*   white-space: nowrap;*/
/*   overflow: hidden;*/
/*   text-overflow: ellipsis;*/
/*}*/